<nav class="bg-gray-700 w-100 relative">
  <div
    class="md:container md:py-4 md:mx-auto flex justify-between w-100 items-center p-4"
  >
    <div>
      <a href="/" class="text-white"><%= title %></a>
    </div>
    <div>
      <ul class="flex items-center">
        <li class="px-2">
          <a href="/home" class="text-white">Home</a>
        </li>
        <li class="px-2">
          <a href="/about" class="text-white">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
