<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= description %> | <%= title %></title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link href="css/style.css" type="text/css" rel="stylesheet"/>
</head>
<body>
  <%- include('partials/head') %>
  
  <div class="cover container bg-dark pt-5 pb-4">
    <div class="jumbotron text-light mt-5 pt-4">
      <h1>Selamat datang di wadahgamer</h1>
      <p>Sebuah hiburan bermain game</p>
    </div>
  </div>
  
  <main class="container mt-3">
    <div class="row mb-2">
      <h1>Video gameplay</h1>
      <div class="col-xs-12 col-md-3 col-sm-2 col-lg-3">
        <p>Tidak ada video gameplay saat ini</p>
      </div>
    </div>
    <div class="row mb-2">
      <h1>Pengaturan build</h1>
      <div class="col-xs-12 col-md-3 col-sm-2 col-lg-3">
        <p>Akan segera hadir</p>
      </div>
    </div>
    <div class="row mb-2">
      <h1>Pengaturan emblem</h1>
      <div class="col-xs-12 col-md-3 col-sm-2 col-lg-3">
        <p>Akan segera hadir</p>
      </div>
    </div>
    <div class="row mb-2">
      <h1>Pengaturan chat</h1>
      <div class="col-xs-12 col-md-3 col-sm-2 col-lg-3">
        <p>Akan segera hadir</p>
      </div>
    </div>
    <div class="row mb-2">
      <h1>Lainnya</h1>
      <div class="col-xs-12 col-md-3 col-sm-2 col-lg-3">
        <p>Akan segera hadir</p>
      </div>
    </div>
  </main>
  
  <%- include('partials/footer') %>
</body>
</html>