  <footer class="relative bg-gray-100 border border-gray-300 md:ml-64 mx-auto mt-14 p-4">
    &copy; wadahkode 2020 didesign dengan framework css <a href="https://tailwindcss.com/" class="text-blue-600">tailwindcss</a>
  </footer>
  <script src="../../../js/tinymce.min.js" referrerpolicy="origin"></script>
  <script src="../../../js/master.js"></script>
</body>
</html>